<a href="https://colab.research.google.com/github/Hikma03/Tugas-pekan-13/blob/main/Tugas_Pekan_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Hikma Abdia

Nim  : H051211024

kelas : Algopro A

Tugas : Pekan 13

- Buatlah program untuk menghitung total pembelian N buah barang dengan harga dan 
jumlah tertentu !

In [16]:
JumlahBrg = int(input('Jumlah Barang : '))
for A in range (JumlahBrg) :
  print('Barang ke-',A+1)
  HargaBrg = int(input('Harga Barang : '))
  totalharga=0
for B in range(HargaBrg) :
  totalharga =0
TotalHarga=JumlahBrg*HargaBrg
print('Total Pembelian  : ',TotalHarga)

Jumlah Barang : 3
Barang ke- 1
Harga Barang : 10000
Barang ke- 2
Harga Barang : 25000
Barang ke- 3
Harga Barang : 20000
Total Pembelian  :  60000

- Buatlah program untuk menghitung banyaknya bilangan genap ataupun bilangan ganjil dari N buah bilangan yang diinput secara acak!

In [7]:
nilaiawal = int(input('Input Nilai Awal : '))
nilaiakhir = int(input('Input Nilai Akhir : '))
for A in range(nilaiawal,nilaiakhir+1):
  if A %2 == 0:
    print (A, 'adalah jenis Bilangan Genap')
  else :
    print (A, 'adalah jenis Bilangan Ganji')

Input Nilai Awal : 3
Input Nilai Akhir : 7
3 adalah jenis Bilangan Ganji
4 adalah jenis Bilangan Genap
5 adalah jenis Bilangan Ganji
6 adalah jenis Bilangan Genap
7 adalah jenis Bilangan Ganji

- Buatlah program untuk menampilkan bilangan kelipatan 3 diantara bilangan tertentu!

In [1]:
s = ''
i = 0
while (i<22):
  s += str(i)+' '
  i += 3
print(s)

0 3 6 9 12 15 18 21

- Buatlah program untuk menampilkan bentuk bilangan seperti berikut ini:
Bilangan : <input suatu bilangan (misal:5)>
1

12

123

1234

12345

In [3]:
s = ''
for i in range (1,6) :
  s += str(i)+''
  print (s)

1
12
123
1234
12345

- Buatlah program untuk menghitung dan menampilkan bentuk berikut ini:

No. Nama Mhs N.Tugas N.Kuis N.UTS N.UAS NilaiAkhir

1 

2

..

N

In [13]:
NamaMahasiswa =input("Masukkan Nama : ")
NilaiTugas=float(input("Masukkan Nilai Tugas : "))
NilaiKuis=float(input("Masukkan Nilai Kuis : "))
NilaiUTS=float(input("Masukkan Nilai UTS : "))
NilaiUAS=float(input("Masukkan Nilai UAS : "))

NilaiAkhir=(NilaiTugas*0.1) + (NilaiKuis*0.1) + (NilaiUTS*0.4) + (NilaiUAS*0.4)

print("=======HASIL PERHITUNGAN=======")

print("Nama Mhs :",NamaMahasiswa)
print("N.Tugas :",NilaiTugas)
print("N.Kuis :",NilaiKuis)
print("N.UTS :",NilaiUTS)
print("N.UAS :",NilaiUAS)
print("N.Akhir :",NilaiAkhir)

Masukkan Nama : HIKMA ABDIA
Masukkan Nilai Tugas : 89
Masukkan Nilai Kuis : 91
Masukkan Nilai UTS : 90
Masukkan Nilai UAS : 90
=======HASIL PERHITUNGAN=======
Nama Mhs : HIKMA ABDIA
N.Tugas : 89.0
N.Kuis : 91.0
N.UTS : 90.0
N.UAS : 90.0
N.Akhir : 90.0

- Buatlah program untuk menghitung penjumlahan 2 buah matriks!

In [1]:
mat1 = [
        [5, 0],
        [2, 6],
]

mat2 = [
        [1, 0],
        [4, 2],
]

mat3= []

for A in range(0, len(mat1)):
    for B in range(0, len(mat1[0])):
        print (mat1[A][B] + mat2[A][B], end=' '),
    print('')

6 0
6 8